/* Estilização básica */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-item {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.event-item img {
    width: 100%;
    border-radius: 5px;
}

.event-item h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.event-item p {
    font-size: 1rem;
}

a {
    display: block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    margin: 10px auto 0;
    text-align: center;
}

a:hover {
    background-color: #555;
}

.event-details {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-top: 5px;
}

#total-value {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}
